[defaults]
# Где искать роли (путь относительно этого файла)
roles_path = ./roles
# Какой файл инвентаря использовать по умолчанию
inventory = ./inventories/production/hosts
# Не проверять SSH host key (для учёбы, в продакшене так не делают)
host_key_checking = False
# Какой пользователь по умолчанию (чтобы не писать в инвентаре)
remote_user = chayan
# Какой порт SSH по умолчанию
remote_port = 2244
